docs/* linguist-documentation
marketing/website/* linguist-documentation
editor/* linguist-documentation
extensions/android/* linguist-documentation
extensions/libdepwin/* linguist-documentation
extensions/webassembly/* linguist-documentation
*.h linguist-language=C
*.html linguist-language=Ring
*.rhtml linguist-language=Ring
*.template linguist-language=Ring
*.data linguist-language=Ring
