docs/* linguist-documentation
website/* linguist-documentation
editor/* linguist-documentation
android/* linguist-documentation
libdepwin/* linguist-documentation
*.h linguist-language=C
*.html linguist-language=Ring
*.rhtml linguist-language=Ring
*.template linguist-language=Ring
*.data linguist-language=Ring
