----------------------------------------------------------------------------------
This configuration file enable you to use PWCT (Programming Without Coding 
Technology) as a RPWI (Real Programming Without codIng) Environment with 
Any programming language you know or like.

Just determine the output file 
example output: test.c 
example output: test.cpp
example output: test.cs
example output: test.java
example output: test.prg

Also you can determine a batch file (Optional) for building the generated
code which will be stored in the output file
example build: build.bat

Then this configuration file will be active and when you press <CTRL+R> to
run the server from PWCT (Programming Without Coding Technology)
PWCT (Programming Without Coding Technology) will ignore DoubleS at all
And it will extract the code from the RPWI Unit goals, then it will store the 
Extracted code in the output file Then it will invoke the batch file (Optional)
For building the extracted code.

Now you can select any programming language you like, build your own RPWI 
Components and live in your world (Have Fun !!!) 

Practical Examples:-
For SupernovaPWCT output: test.nova   build:  c:\SSBuild\Supernova\NovaRun test
For PythonPWCT output: test.py   build:  test.py
For CSharpPWCT output: test.cs   build: c:\SSRPWI\CSharp\Batch\MyBuild test
---------------------------------------------------------------------------
output: nova_odbc.c
build: C:\PWCT19\ssbuild\CPWCT\BATCH\RUN.BAT "nova_vmodbc.c"
