
    

    <div class="my-form container p-5 my-5 rounded border border-warning">
        <form>
            <h2 class="text-center">All Products ( <%=len(products)%> )</h2>
            <hr>

            <section>
                <div class="container-fluid">
                  <div class="row p-5" >
        
<% for pro in products %>
                    <div>
                      <div class="card m-2" style="width: 18rem;">
                        <img src="products/<%=pro['id'] %>.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">
										<%=pro['name'] %>
								  </h5>
                          <p class="card-text text-truncate">
										<%=pro['description'] %>
								  </p>
                          <a href="product.ring?pro_id=<%=pro['id'] %>" class="btn btn-warning">
										Show Details
								  </a>
                        </div>
                      </div>
                    </div>
<% next %>
        
                  </div>
                </div>
            </section>
        

        </form>

    </div>
