<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Ring Programming Language</title>
  <link rel="icon" href="images/ringicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="title" content="Ring Language">
  <meta name="description" content="Ring is an innovative and practical general-purpose multi-paradigm language. The supported programming paradigms are imperative, procedural, object-oriented, declarative using nested structures, functional, meta programming and natural programming.">
  <meta name="keywords" content="Ring, Ring Language, innovative , practical , programming language, multi paradigm language, general purpose language, imperative, procedural, object-oriented, declarative using nested structures, functional, meta programming and natural programming. The language is portable Windows, Linux, macOS, Android, create Console, GUI, Web, Games, Mobile applications">
  <meta name="robots" content="index, follow">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="language" content="English">  
  <meta name="og:title" property="og:title" content="Ring Language - Innovative and practical general-purpose multi-paradigm language">
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://ring-lang.sourceforge.net/" />
  <meta property="og:image" content="http://ring-lang.sourceforge.net/theringlogo.jpg" />
	
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <script src="js/jquery.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
</head>
<body>


<nav class="navbar navbar-default navbar-fixed-top" >
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
      </button>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li><a href="index.html#">Home</a></li>
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Download<span class="caret"></span></a>
            <ul class="dropdown-menu">
		  <li><a href="download.html">Ring 1.24</a></li>
		  <li><a href="download123.html">Ring 1.23</a></li>
		  <li><a href="download122.html">Ring 1.22</a></li>
		  <li><a href="download1212.html">Ring 1.21</a></li>
		  <li><a href="download120.html">Ring 1.20</a></li>
		  <li><a href="download119.html">Ring 1.19</a></li>
		  <li><a href="download118.html">Ring 1.18</a></li>
		  <li><a href="download117.html">Ring 1.17</a></li>
		  <li><a href="download116.html">Ring 1.16</a></li>
		  <li><a href="download115.html">Ring 1.15</a></li>
		  <li><a href="download114.html">Ring 1.14</a></li>
		  <li><a href="download113.html">Ring 1.13</a></li>
		  <li><a href="download112.html">Ring 1.12</a></li>
		  <li><a href="download111.html">Ring 1.11</a></li>
		  <li><a href="download110.html">Ring 1.10</a></li>
		  <li><a href="download19.html">Ring 1.9</a></li>
		  <li><a href="download18.html">Ring 1.8</a></li>
		  <li><a href="download17.html">Ring 1.7</a></li>
		  <li><a href="download16.html">Ring 1.6</a></li>
		  <li><a href="download154.html">Ring 1.5</a></li>
		  <li><a href="download141.html">Ring 1.4</a></li>
		  <li><a href="download13.html">Ring 1.3</a></li>
		  <li><a href="download12.html">Ring 1.2</a></li>
	          <li><a href="download11.html">Ring 1.1</a></li>
          	  <li><a href="download1.html">Ring 1.0</a></li>
            </ul>
          </li>	
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Change Log<span class="caret"></span></a>
            <ul class="dropdown-menu">
		  <li><a href="doc1.24/whatisnew24.html">Ring 1.24</a></li>
		  <li><a href="doc1.24/whatisnew23.html">Ring 1.23</a></li>
		  <li><a href="doc1.24/whatisnew22.html">Ring 1.22</a></li>
		  <li><a href="doc1.24/whatisnew21.html">Ring 1.21</a></li>
		  <li><a href="doc1.24/whatisnew20.html">Ring 1.20</a></li>
		  <li><a href="doc1.24/whatisnew19.html">Ring 1.19</a></li>
		  <li><a href="doc1.24/whatisnew18.html">Ring 1.18</a></li>
		  <li><a href="doc1.24/whatisnew17.html">Ring 1.17</a></li>
		  <li><a href="doc1.24/whatisnew16.html">Ring 1.16</a></li>
		  <li><a href="doc1.24/whatisnew15.html">Ring 1.15</a></li>
		  <li><a href="doc1.24/whatisnew14.html">Ring 1.14</a></li>
		  <li><a href="doc1.24/whatisnew13.html">Ring 1.13</a></li>
		  <li><a href="doc1.24/whatisnew12.html">Ring 1.12</a></li>
		  <li><a href="doc1.24/whatisnew11.html">Ring 1.11</a></li>
		  <li><a href="doc1.24/whatisnew10.html">Ring 1.10</a></li>
		  <li><a href="doc1.24/whatisnew9.html">Ring 1.9</a></li>
		  <li><a href="doc1.24/whatisnew8.html">Ring 1.8</a></li>
		  <li><a href="doc1.24/whatisnew7.html">Ring 1.7</a></li>
		  <li><a href="doc1.24/whatisnew6.html">Ring 1.6</a></li>
		  <li><a href="doc1.24/whatisnew5.html">Ring 1.5</a></li>
		  <li><a href="doc1.24/whatisnew4.html">Ring 1.4</a></li>
		  <li><a href="doc1.24/whatisnew3.html">Ring 1.3</a></li>
		  <li><a href="doc1.24/whatisnew2.html">Ring 1.2</a></li>
	          <li><a href="doc1.24/whatisnew.html">Ring 1.1</a></li>
          	  <li><a href="doc1.24/languagedesign.html">Ring 1.0</a></li>
            </ul>
          </li>
	  <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">More<span class="caret"></span></a>
            <ul class="dropdown-menu">
			  <li><a href="resources.html">Resources</a></li>			  
			  <li><a href="https://groups.google.com/g/ring-lang">Group</a></li>			  
			  <li><a href="https://github.com/ring-lang/ring">GitHub</a></li>
          	  <li><a href="team.html">Team</a></li>
            </ul>
          </li>
    </ul>

	<div style="float:right ; margin-top:0.5% ; margin-right: 1%">
		<form class="search" action="doc1.24/search.html" method="get" style="width:200px" >
			<div class="input-group">
				<input name="q" type="text" class="form-control" placeholder="Search for...">
				<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Go!</button>
				</span>
			</div>
			<input name="check_keywords" value="yes" type="hidden">
			<input name="area" value="default" type="hidden">
		</form>

    </div>

  </div>

</nav>  

<a href="https://github.com/ring-lang/ring" class="hidden-xs" style="float:right ; margin-top:50px">
	<img src="images/forkme.png" alt="Fork me on GitHub" width="198" height="198">
</a>


<div class="container">
 <div class="text-center">
	<br><br><br> 
	<br><br>
	<div class="row">		
			<div class="col-xs-3 hidden-xs">
			</div>
			<div class="col-xs-6">
				<img src="images/theringlogo.jpg" width="297px" height="154px">
			</div>
			<div class="col-xs-3 hidden-xs">
			</div>
	</div>

	<div class="row">
				<br> 
				<div class="col-xs-2">
				</div>
				<div class="col-sm-12 col-md-2">
					<a href="download.html" class="btn btn-default btn-block" style="">Download</a>
				</div>
				
				<div class="col-sm-12 col-md-2">
					<a href="doc1.24/index.html" class="btn btn-default btn-block" style="">Documentation</a>
				</div>

				<div class="col-sm-12 col-md-2">
					<a href="resources.html" class="btn btn-default btn-block" style="">Resources</a>
				</div>

				<div class="col-sm-12 col-md-2">
					<a href="https://groups.google.com/g/ring-lang" class="btn btn-default btn-block" style="">Group</a>
				</div>
				
				<div class="col-xs-2">
				</div>
				<br>  
	</div>
		
	<h3>Simple and flexible dynamic programming language for applications development</h3>
	
		
		
  </div>


