<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="template/style.css" />
  <title>Random User</title>
</head>
<body>

  <div id="app">
    <img
      src="{{Photo}}"
      alt="`Image`"
      class="{{Gender}}"
    />
    <h1>{{UserName}}</h1>
    <h3>Email: {{Email}}</h3>
      <form action="/randomuser">
        <input type="submit" style="mybutton" value="Get Random User" />
      </form>
  </div>

</body>
</html>