    <script src="js/jquery-3.4.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script>

        $(function () {
            $('[data-toggle="popover"]').popover()
        })

        $(".year").text( (new Date).getFullYear() );

    	  if($('body').height()<600){
        		$('body').height(600);
    	  }

<% if page = 'product' %>

		$(document).ready(function(){

			$("#staticBackdrop").on("shown.bs.modal", function(){
				$(this).find("#inputQty").focus();
				$(this).find("#inputQty").select();
			});

		});

<% ok %>

    </script>

</body>
</html>
