---------------------------------------------------------------------------
This configuration file enable you to determine the output file 
example output: test.c 
example output: test.cpp
example output: test.cs
example output: test.java
example output: test.prg

Also you can determine a batch file (Optional) for building the generated
code which will be stored in the output file
example build: build.bat
---------------------------------------------------------------------------
output: ring_vm.c
build: C:\PWCT19\SSBUILD\CPWCT\BATCH\RUN.BAT "ring_vmeval.c"
