.wy-nav-content {
max-width: none;
}
/* 

.wy-side-scroll {
  width: auto;
  overflow-y: auto;
}

.wy-side-nav-search { 
	background-color: DarkBlue;
}

.wy-nav-side { 
	background-color: DarkBlue;
}

.wy-menu-vertical a {
	color: Yellow;
}
*/